body {
	
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Hind Madurai', sans-serif;
	
}

.navbar {
	opacity: 0.7;
	background-color: #B7B2C4;
	margin-bottom: 30px;
	width: 100%;
}

.jumbotron {
	margin: 70px 10px 10px 10px;
	text-align: center;
	opacity: 0.93;
	color: #fff;
	background-color: transparent;
	padding: 15px 4px 10px 4px;
	border-radius: 30px;
}

.container {
	justify-content: center;

}

.display-4 {
	color: #000;
}

.thumb {
  text-align: center;
  width: 220px;
  height: 200px;
  margin: 10px;
  padding: 2px;
  box-shadow:  3px 6px 6px #878391;
  border-radius: 12px;
  transition: all 1s;
}


.stuff-box {
	color: #ffe;
    margin-top: 20px;
    justify-content: center;
    text-align: center;
}

.project-header {
	text-align: center;
	color: #fff;
	margin: 15px 0px 20px 0px;
}




h6 {
  margin-top: 10px;
}

input {
  box-shadow:  1px 3px 5px #0F0224;
  background-color: #000;
  padding: 20px;
}

textarea {
  box-shadow:  1px 3px 5px #0F0224;
  background-color: #000;
  padding: 20px;
}

input, select, textarea{
    color: #ff0000;
}

textarea:focus, input:focus {
    color: #ff0000;
}

#submitBtn {
  margin-top: 10px;
  margin-bottom: 20px;
}

#project-section {
	justify-content: center;
	opacity: 0.9;
    margin: 20px 10px 10px 10px;
    padding: 10px 3px 10px 3px;
}

.contact-info {
	margin: 10px 80px 10px 80px;
}

.contact-info p  {
	display: inline-flex;
	text-align: center;
	justify-content: center;
}

.footer {
	text-align: center;
	color: #fff;
}

.row {
	justify-content: center;
}

#profile-pic {
	height: 157px;
	width: 157px;
	border-radius: 50%;
	border: 3px solid #4C4A52;
	margin-bottom: 8px;
	z-index: 0;
	box-shadow: 3px 6px 3px #000;
}


h4 {
	color: #fff;
}

hr {
	color: #fff;
	display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

#jumbo-header {
	font-size: 1.7em;
	color: #000;
	margin-top: 10px;
}

.icons {
	width: 50px;
	height: 50px;
	background-color: gray;
	/*border: 0px solid #fff;*/
    border-radius: 9px;
    display: inline-flex;
	margin: 10px 10px 10px 20px;
	text-align: center;
	justify-content: center;
	transition: all 1s;
}

.icons2 {
	width: 100px;
	height: 100px;
	/*background-color: gray;*/
	/*border: 2px solid #fff;
    border-radius: 9px;*/
    display: inline-flex;
	margin: 20px 5px 15px 2px;
	text-align: center;
	justify-content: center;
	transition: all 1s;
}

.icons3 {
	/*width: 20px;
	height: 20px;*/
	/*background-color: gray;*/
	/*border: 2px solid #fff;
    border-radius: 9px;*/
    display: inline-flex;
	margin: 10px 5px 5px 2px;
	text-align: center;
	justify-content: center;
	padding-bottom: 25px;
	transition: all 1s;
}

.stuff {
	text-decoration: none;
	color: #fff;
}

p {
  color: #fff;
}

.other-stuff a {
	text-decoration: none;
	padding: 10px;
}

.form-fields {
	border-radius: 20px;
}

#submitBtn {
	border-radius: 20px;
}

.other-stuff p {
		margin: 10px;
		/*/*font-size: 30px;*/
		border: 1px solid #fff;
		border-radius: 18px;
		padding: 20px;
		background-color: #000;
		opacity: 0.8;
	}

@media (max-width: 1400px) {
	.thumb {
	  text-align: center;
	  width: 260px;
	  height: 240px;
	  margin: 10px;
	  padding: 2px;
	  box-shadow:  3px 6px 6px #878391;
	  border-radius: 22px;
	}
}

/*@media (max-width: 700px) {
		.thumb {
	  text-align: center;
	  width: 460px;
	  height: 380px;
	  margin: 20px;
	  padding: 2px;
	  box-shadow:  3px 6px 6px #878391;
	  border-radius: 26px;
	}
}*/

/*@media (max-width: 500px) {
		.thumb {
	  text-align: center;
	  width: 440px;
	  height: 360px;
	  margin: 20px;
	  padding: 2px;
	  box-shadow:  3px 6px 6px #878391;
	  border-radius: 22px;
	}
}*/

@media (min-width: 800px) {
	.other-stuff {
		display: inline-flex;
		margin: 5px;

	}
}

@media (min-width: 800px) {
	.other-stuff p {
		margin: 20px 100px 20px 100px;
		font-size: 28px;
		border: 2px solid #fff;
		border-radius: 30px;
		padding: 10px 10px 10px 10px;
		background-color: #000;
		opacity: 0.8;
	}
}

@media (min-width: 900px) {
	.form-fields {
		width: 850px;
	}
}



@media (min-width: 800px) {
	.form-fields {
		width: 750px;
	}
}


@media (min-width: 700px) {
	.form-fields {
		width: 650px;
	}
}

@media (min-width: 768px) {
	.icons {
		margin: 10px 60px 10px 60px;
	}
}

@media (min-width: 768px) {
	.icons2 {
		margin: 10px 10px 10px 10px;
	}
}

@media (min-width: 900px) {
	.nav-item {
		margin-left: 20px;
	}
}

.thumb:hover {
	transform: scale(1.1);
}

#musicText  {
	padding-bottom: 5px;
}

#misc-stuff {
	margin: 10px 10px 10px 10px;
	
}


.icons:hover {
	transform: scale(1.7);
}

.icons2:hover {
	transform: scale(1.5);
}

.icons3:hover {
	transform: scale(1.5);
}