body {
	/*background: url('bground9.jpeg');*/
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Hind Madurai', sans-serif;
	/*padding: 7px;*/
	color: #fff;
}

.navbar {
	opacity: 0.7;
	background-color: #B7B2C4;
	margin-bottom: 30px;
}


.container {
	justify-content: center;
	
}

.display-4 {
	color: #000;
}

h6 {
  margin-top: 10px;
}

input {
  box-shadow:  1px 3px 5px #0F0224;
}

textarea {
  box-shadow:  1px 3px 5px #0F0224;
}



.footer {
	text-align: center;
	color: #fff;
}


h4 {
	color: #fff;
}

hr {
	color: #fff;
	display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}




img {
 height: 200px;
 width: 200px;
 margin-bottom: 5px;
 }
article {
	border: solid #fff;
	border-width: 0px 0px 2px 2px;
	border-radius: 11px;
	margin-top: 8px;
	margin-bottom: 7px;
	padding-top: 8px;
	padding-left: 16px;

}

#article-section {
	padding: 10px;
}

@media (min-width: 900px) {
	.nav-item {
		margin-left: 20px;
	}
}

